@font-face {
  font-family: "Gotham Book";
  src: url("../fonts/Gotham_Book.otf") format("opentype");
}
@font-face {
  font-family: "Gotham Book";
  src: url("../fonts/Gotham_Book.otf") format("opentype");
}
/* line 3, ../compass/sass/_masthead.scss */
.masthead {
  height: 100%;
}

/* line 7, ../compass/sass/_masthead.scss */
.mit-elec-logo {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 4px 1px -1px lightgray;
}
/* line 14, ../compass/sass/_masthead.scss */
.mit-elec-logo img {
  height: 60px;
  margin: 10px 20px;
}

/* line 20, ../compass/sass/_masthead.scss */
.masthead-info-section {
  margin-top: 80px;
  background-color: #fff;
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7)), url("../images/Vail-082.png");
  background-attachment: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 100px;
}
/* line 29, ../compass/sass/_masthead.scss */
.masthead-info-section p {
  padding-right: 50%;
  margin-bottom: 50px;
}
/* line 33, ../compass/sass/_masthead.scss */
.masthead-info-section a {
  color: #fff;
  background-color: #003d75;
  padding: 10px 40px;
  border-radius: 5px;
  text-decoration: none;
}

/* line 1, ../compass/sass/_intro.scss */
.intro {
  height: 450px;
  background-color: #fff;
}

/* line 6, ../compass/sass/_intro.scss */
.intro-info {
  padding-top: 3em;
  padding-left: 11em;
}
/* line 10, ../compass/sass/_intro.scss */
.intro-info h1 {
  margin-top: -2px;
}
/* line 13, ../compass/sass/_intro.scss */
.intro-info hr {
  margin-top: -2px;
}
/* line 16, ../compass/sass/_intro.scss */
.intro-info p {
  padding: 10px 20px;
}

/* line 21, ../compass/sass/_intro.scss */
.intro-image {
  padding-top: 3em;
  padding-left: 6em;
}
/* line 24, ../compass/sass/_intro.scss */
.intro-image img {
  box-shadow: 10px 10px 0px lightgray;
  height: 100%;
}

/* line 1, ../compass/sass/_keycomponents.scss */
.key-components {
  height: 650px;
  background-color: #e9ebef;
}

/* line 6, ../compass/sass/_keycomponents.scss */
.kc-title {
  padding-top: 5em;
  padding-left: 11em;
}
/* line 9, ../compass/sass/_keycomponents.scss */
.kc-title h1 {
  margin-top: -2px;
}
/* line 12, ../compass/sass/_keycomponents.scss */
.kc-title hr {
  margin-top: -2px;
}
/* line 15, ../compass/sass/_keycomponents.scss */
.kc-title p {
  padding: 10px 20px;
}

/* line 20, ../compass/sass/_keycomponents.scss */
.kc-nav {
  margin-left: 120px;
  padding: 30px;
}
/* line 23, ../compass/sass/_keycomponents.scss */
.kc-nav .kc-button {
  display: inline-block;
}
/* line 26, ../compass/sass/_keycomponents.scss */
.kc-nav a {
  text-decoration: none;
  border-left: transparent solid 3px;
  padding: 30px 20px;
}
/* line 31, ../compass/sass/_keycomponents.scss */
.kc-nav a.active {
  border-left: #003d75 solid 3px;
  background-color: #fff;
  font-weight: bold;
  box-shadow: 4px 4px 3px -3px lightgray;
}

/* line 39, ../compass/sass/_keycomponents.scss */
.kc-desc {
  height: 200px;
  width: 65%;
  margin-top: 20px;
  margin-left: 150px;
  border-left: #003d75 solid 3px;
  background-color: #fff;
  font-weight: bold;
  box-shadow: 4px 4px 3px -3px lightgray;
}

/* line 50, ../compass/sass/_keycomponents.scss */
.kc-desc-section {
  display: inline-block;
}
/* line 52, ../compass/sass/_keycomponents.scss */
.kc-desc-section p {
  margin: 70px 80px 0px 150px;
  font-size: 18px;
}

/* line 58, ../compass/sass/_keycomponents.scss */
.kc-desc-icon {
  float: left;
  margin-top: 70px;
  margin-left: 60px;
}

/* line 65, ../compass/sass/_keycomponents.scss */
.brochure-button {
  margin-top: 60px;
  outline: none;
}
/* line 68, ../compass/sass/_keycomponents.scss */
.brochure-button .download-button {
  border: none;
  outline: none;
  color: #fff;
  background-color: #003d75;
  padding: 10px 25px;
  border-radius: 5px;
}

/* line 1, ../compass/sass/_footer.scss */
.footer {
  background-color: #1d1d1d;
  height: 200px;
  padding-top: 50px;
  color: #8e8e8e;
}

/* line 8, ../compass/sass/_footer.scss */
.mit-elec-logo-footer {
  height: 115px;
}

/* line 12, ../compass/sass/_footer.scss */
.fa {
  color: #1d1d1d;
  padding: 8px;
}

/* line 17, ../compass/sass/_footer.scss */
.footer-links {
  padding: 0px 50px;
  height: 115px;
  margin-left: 0px;
}
/* line 21, ../compass/sass/_footer.scss */
.footer-links hr {
  height: 1px;
  background-color: darkgray;
  border: 0;
  margin-left: 65px;
  width: 80%;
}

/* line 30, ../compass/sass/_footer.scss */
.social {
  padding-right: 70px;
}

/* line 34, ../compass/sass/_footer.scss */
.social-button {
  display: inline-block;
  background-color: #8e8e8e;
  height: 30px;
  width: 30px;
  margin: 10px 17px;
  border-radius: 15px;
}

/* line 43, ../compass/sass/_footer.scss */
.social a {
  color: #1d1d1d;
}

/* line 47, ../compass/sass/_footer.scss */
.b-blog {
  position: absolute;
  height: 30px;
  width: 30px;
  padding-top: 8px;
  font-size: 8px;
  line-height: 8px;
}
/* line 54, ../compass/sass/_footer.scss */
.b-blog .lg-b {
  font-weight: bold;
  font-size: 18px;
}

/* line 60, ../compass/sass/_footer.scss */
.sitemap {
  line-height: 9px;
}
/* line 62, ../compass/sass/_footer.scss */
.sitemap a {
  font-size: 10px;
  color: #8e8e8e;
  margin: 0px 10px;
}

/* line 69, ../compass/sass/_footer.scss */
.copywrite {
  font-size: 10px;
  margin: 5px;
}

@font-face {
  font-family: "Gotham Book";
  src: url("../fonts/Gotham_Book.otf") format("opentype");
}
/* line 3, ../compass/sass/_emailform.scss */
.modal-backdrop {
  background-color: #003d75;
  opacity: 0.9;
}

/* line 8, ../compass/sass/_emailform.scss */
.form-header {
  margin: 20px 0px 10px 0px;
  padding: 30px 100px;
}
/* line 11, ../compass/sass/_emailform.scss */
.form-header hr {
  margin: 0 auto;
  background-color: #000;
  margin-bottom: 40px;
  height: 1px;
}
/* line 17, ../compass/sass/_emailform.scss */
.form-header h4 {
  font-size: 16px;
}

/* line 22, ../compass/sass/_emailform.scss */
.email-form {
  padding: 10px 30px;
}
/* line 24, ../compass/sass/_emailform.scss */
.email-form hr {
  height: 1px;
  background-color: #f2f2f2;
  border: 0;
  width: 100%;
}

/* line 32, ../compass/sass/_emailform.scss */
.form-row {
  margin-bottom: 30px;
}
/* line 34, ../compass/sass/_emailform.scss */
.form-row .red-star {
  color: red;
}
/* line 37, ../compass/sass/_emailform.scss */
.form-row .input-form {
  padding: 5px 10px;
}
/* line 40, ../compass/sass/_emailform.scss */
.form-row input {
  line-height: 30px;
  width: 100%;
  border: 1px #f2f2f2 solid;
  border-radius: 3px;
  background-color: #fbfbfb;
  outline: none;
}

/* line 50, ../compass/sass/_emailform.scss */
.submit-button {
  text-align: center;
  padding-bottom: 50px;
}
/* line 53, ../compass/sass/_emailform.scss */
.submit-button #submit {
  margin-top: 10px;
  border: none;
  outline: none;
  color: #fff;
  background-color: #003d75;
  padding: 10px 65px;
  border-radius: 5px;
  font-weight: none;
}

/* line 8, ../compass/sass/styles.scss */
body {
  font-family: "Gotham Book", sans-serif;
}

/* line 12, ../compass/sass/styles.scss */
h1 {
  color: #e42526;
}

/* line 16, ../compass/sass/styles.scss */
hr {
  height: 2px;
  background-color: darkgray;
  border: 0;
  width: 10em;
  margin-left: 0px;
}
